
:root {
  --white: #d9dedb;
  --black: #272727; 
  --yellow1: #ffc600;
  --yellow2: #F9CE46;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 10px;
  color: var(--yellow);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); }

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background-color:black ;
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 50px;
  /* background: white; */
  background-attachment: fixed;
  letter-spacing: -1px; 
  margin: 1.2rem;
  font-size: 15px;

}

hr {
    border: 2px solid white;
    background: white;
    width: 110rem;


}
h1{
  font-size: 40px;
  margin: 0 0 1px 0;
  color: #348ac7; 
  text-align: center;
  letter-spacing: 10px;



}
h4{
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  color: #348ac7;
}

h5{
  font-size: 18px;
  margin-block-end: 0em;

}

img {
  max-width: 10%;
}


.wrapper {
  display: grid;
  grid-gap: 15px;
  padding-left: 25px;
  color: var(--black);

}

.header {
  display: grid;
  grid-template-areas: 
  "header  header header " ;
  height: 7rem;;
  margin-bottom: 20px;
  justify-content: center;

}

.card-footer{
  margin-top: 30px;
  text-color: black;
}

.displayBox{
  overflow-y: auto;
  z-index: 10;
  padding-right: 7px;
  margin: 7px;
}

.content {
  display: grid; 
  margin-right: 3px;
  margin-left: 3px;
  grid-template-areas: 
  "main-area main-area sidebar-search" 
  "main-area main-area sidebar-select"
  "main-area main-area sidebar-mostused"
  "main-area main-area sidebar-leastused"
  "main-area main-area sidebar-stats"
  ;
/*  border: 1px solid rgba(255, 255, 255, 0.5);
*/
}

.main-area{
  grid-area:main-area;
   
  padding: 10px;
/*  border: 1px solid rgba(255, 255, 255, 0.5);
*/
}

.sidebar-search{
  grid-area:sidebar-search ;
/*  border: 1px solid rgba(255, 255, 255, 0.5);
*/  
    margin-right: 20px;



}

.sidebar-select{
    grid-area:sidebar-select ;
    margin-right: 20px;
/*  border: 1px solid rgba(255, 255, 255, 0.5);
*/  
    margin-right: 20px;

}

.sidebar-mostused{
  grid-area:sidebar-mostused;
/*  border: 1px solid rgba(255, 255, 255, 0.5);
*/  
    margin-right: 20px;

}

.sidebar-leastused{
  grid-area:sidebar-leastused ;
/*  border: 1px solid rgba(255, 255, 255, 0.5);
*/  
    margin-right: 20px;

}

.sidebar-stats{
  grid-area:sidebar-stats ;
/*  border: 1px solid rgba(255, 255, 255, 0.5);
*/  
    margin-right: 20px;

}



.ma-content > *{
  display: flex;
  flex-direction:  column;
  min-width: 650px;
}

.ma-content__card-header{
  order: 0;
  justify-content: center;
  height:70px ;
  padding-left: 20px;
  padding-top: 1rem;
  background-image:linear-gradient(#00c6ff,#0072ff) ; 
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 20px;;


}

.ma-content__card-body{
   order: 1;
   justify-content: center;
   height:900px ;
   justify-content: start;
   padding-left: 20px;
   padding-top: 15px;
   background: white; 
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;

}

.sidebar > * {
  display: flex;
  flex-direction:  column;
    max-width: 27rem;

}



.sidebar__card-header {
  order: 0;
  padding: 10px;
  justify-content: center;
  align-items: center;
  height:50px ;
  background-image:linear-gradient(#00c6ff,#0072ff) ; 
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;  

}

.sidebar__card-body{
   order: 1;
   padding: 10px;
   justify-content: center;
   align-items: start;
   height:120px ;
   justify-content: start;
   background: white; 
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;   

}

.btn {
  font-size: 14px;
}
